{
  "root": true,
  "extends": ["@anijs"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".tsx", ".ts", ".js", ".json"]
      },
      "alias": {
        "map": [["@", "./src/"]]
      },
      "typescript": {}
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "d.ts": "never"
      }
    ],
    "yml/quotes": ["error", { "prefer": "double" }],
    "unicorn/no-process-exit": "off",
    "import/prefer-default-export": "off",
    "jsdoc/require-jsdoc": "off"
  }
}
